/*header start */
*, *::after, *::before {
	box-sizing: border-box;
}

body {
	min-width: 1040px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	color: #404040;
	font-style: normal;
	background-color: #ffffff;
	
}

.container {
	width: 800px;
	margin: 0 auto;
}

.container-wide {
	width: 1015px;
	margin:0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.header {
	height: 490px;
	padding-top: 60px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/back-image.png") no-repeat bottom;
	background-size:  cover;
	background-color: #7a5118;
}

.header,
.footer {
	color: #ffffff;
	background-color: #000000;
}

.header-top {
	margin-bottom: 120px;
}

.header-logo {
	float: left;
	width: 140px;
	height: 76px;
}

.header-logo img {
	width: 140px;
	height: 76px;
}

.header__nav--list {
	float: right;
	width: 600px;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	list-style: none;
}

.header__nav--item {
	position: relative;
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;
}

.header__nav--item:last-child {
	margin-right: 0;
}

.header__nav--item a {
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 12px;
	font-weight: bold;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.header__nav--item a:hover {
	color: #f1bb6a;
	border-bottom: 1px solid #ffffff;
}

.header__nav--item a:active {
	color: #c88a31;
	padding-bottom: 25px;
	border-bottom: 1px solid #ffffff;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	font: inherit;
	font-weight: bold;
	line-height: inherit;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #a5a097;
	color: #bcb6ab;
}

.btn:hover {
	color: #ffffff;
	background-color: #a5a097;
	border-color: #a5a097;
}

.btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #8f8a81;
	border-color: #8f8a81;
}

.btn-ghost {
	color: #834700;
	background: #ffffff;
	border-color: #834700;
}

.btn-ghost:hover {
	color: #6a3900;
	border-color: #6a3900;
	background-color: #ffffff;
}

.btn-ghost:active {
	color: rgba("92, 50, 0,  0.3");
	border-color: #cec1b2;
	background-color: #ffffff;
}

.btn-brown {
	color: #ffffff;
	background-color: #834700;
	border: 2px solid #834700;
}

.order-info .btn-brown {
	width: 200px;
}

.btn-brown:hover {
	background-color: #6a3900;
	border-color: #6a3900;
}

.btn-brown:active {
	color: rgba(255,255,255, 0.3);
	background-color: #5c3200;
	border-color: #5c3200;
}

.btn-read-more {
	border: 2px solid #a4a097;
	color: #bdb7ab;
}

.header__promo {
	font-weight: bold;
	font-size: 70px;
	line-height: 70px;
	text-align: center;
	text-transform: none;
	color: #ffffff;
}
/* header end */

/* new product */
.new__products {
padding-top: 80px;
padding-bottom: 110px;
background-color: #ffffff;
}


.catalog-item {
	float: left;
	position: relative;
	width: 334px;
	padding-right: 30px;
	padding-left: 34px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.catalog-item:nth-child(2n) {
	border-left: none;
}

.new-item-title {
	position: relative;
	margin: 0;
	font-size: 40px;
	line-height: 60px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-item img {
	width: 319px;
	height: 459px;
	margin-top: 30px;
	margin-left: 10px;
}

.new-items-info {
	position: absolute;
	top: 85px;
	right: 0;
	width: 150px;
	padding-right: 25px;
}

.new-product-value {
	width: 150px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #000000;
	border-collapse: collapse;
}

.new-product-value  td {
	padding: 5px 10px;
	border: 1px solid #e5e5e5;

}

.new-product-info {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	text-transform: none;
}

.new-product-description {
	width: 330px;
	margin-top: 0;
	margin-bottom: 60px;
	text-transform: none;
}

.new-product-controls {
	font-size: 0;
}

.new-product-controls a {
	font-size: 16px;
}

.new-product-controls .btn-ghost {
	margin-right: 7px;
}

.new-product-price {
	display: inline-block;
	margin-left: 25px;
	font-size: 16px;
	vertical-align: middle;
	color: #000000;
}

/* new product end */

/* features start*/
.features {
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: #ffcb78;
}
.features ul {
	padding: 0;
	margin: 0; 
	list-style: none;
}


.feature-item {
	float: left;
	position: relative;
	width: 210px;
	padding-right: 95px;
	padding-left: 95px;
	text-transform: none;
	font-weight: normal;
	border-right: 1px solid #e5b66c;
}

.feature-item:first-child {
	padding-left: 0;
}

.feature-item:last-child {
	padding-right: 0;
	border-right-color: transparent;
}

.feature-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 100px;
	width: 70px;
	height: 72px;
	background: url("img/spritesheet.png") top center no-repeat;
}

.feature-item:first-child::before {
	left: 0;
}

.feature-handmade::before {
	background-position: -20px -255px;
}

.feature-homemade::before {
	background-position: -20px -460px;
}

.feature-noteconomy::before {
	background-position: -20px -362px;
}

.feature-item p {
	color: #666666;
}

.feature-title {
	margin-top: 100px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #000000;
	text-transform: uppercase;
}

.feature-text {
	margin: 0;
}
/* features end*/

/* history block start */
.kvas-reference {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #ffffff;
}

.kvas-reference .ref-title {
	margin: 0;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;
	color: #000000;
}

.reference-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reference-title {
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}


.reference-source {
	float: right;
	width: 196px;
	font-size: 16px;
	font-weight: normal;
	color: #000000; 
	text-transform: none;
}

.reference-source a {
	color:  #a38b70;
}

.reference-source a:hover {
	color: #8d745a;
}

.reference-source a:active {
	color: rgba(141, 116, 90, 0.3);
}

.kvas-history {
	margin-left: 0;
	text-transform: none;
}

.kvas-history img {
	float: right;
	width: 200px;
	margin-top: 10px;
}

.kvas-history p {
	float: left;
	width: 490px;
	margin: 0;
}

/* history block end */

/* reviews start */
.reviews {
	padding-top: 80px;
	padding-bottom: 95px;
	background-color: #ede5d8;
}

.review-item {
	position: relative;
	margin: 0;
}

.review-item::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -105px;
	width: 41px;
	height: 31px;
	background: url("img/spritesheet.png") top center no-repeat;
	background-position: -20px -568px;
}

.review-item p {
	width: 690px;
	margin: 0;
	margin-bottom: 35px;
	text-transform: none;
}


.review-author {
	float: right;
	width: 330px;
	margin-top: 10px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
 }
 
 .block-title {
	 margin: 0;
	 margin-bottom: 75px;
	 
	 font-weight: bold;
	 font-size: 40px;
	 line-height: 60px;
	 color: #000000;
	 text-transform: uppercase;
 }
 
/* reviews end */

/* table start */
.products-and-price {
	padding-top: 90px;
	padding-bottom: 90px;
}


.price-list {
	width: 100%;
	border-collapse: collapse;
}

.price-list td {
padding: 17px 0;
}

.price-list th {
	padding-bottom: 30px;
	font-weight: normal;
	font-size: 11px;
	text-align: left;
	color: #999999;
	
}

.price-list th, 
.price-list td {
	border-bottom: 1px solid #e5e5e5;
}


.price-name {
	width: 400px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.price-alcohol {
	width: 90px;
}

.price-caloricity {
	width: 60px;
}

.price-name .new {
	margin-left: 20px;
	padding: 2px 5px;
	font-size: 8px;
	line-height: 30px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 2px;
}

.price-list .price-cost {
	text-align: right;
}
/* table end */

/* order-form start */
.order-info {
	margin-top: 10px;
	padding-top: 70px;
	padding-bottom: 90px;
	background-color: #ffcb78;
	color: #666666;
}

.order-form-group {
	padding-bottom: 21px;
}

.order-tip {
	width: 660px;
	margin: 0;
	margin-bottom: 70px;
	text-transform: none;
}

.order-form {
	width: 630px;
}

.order-form-group label {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	color: #000000;
	}
	
.order-form-group input[type="text"],
.order-form-group select,
.order-form-group textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 15px 10px;
	padding-left: 20px;
	font: inherit;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #b69054;
	text-transform: uppercase;
	border: none;
	background-color: rgba(0, 0, 0, 0.1);
	}
	
.order-form-group textarea {
	height: 120px;
	resize: none;
}
	
.order-form-group input[type="text"]:hover,
.order-form-group select:hover,
.order-form-group textarea:hover {
	background: rgba(0, 0, 0, 0.15);
	}

.order-form-group input[type="text"]:focus,
.order-form-group select:focus,
.order-form-group textarea:focus {
	color: #000000;
	background-color: #ffffff;
	}
	
.order-form-group:nth-child(2) {
	float: left;
	width: 290px;
}

.order-form-group:nth-child(3) {
	float: right;
	width: 290px;
}

.checkbox-area {
	margin-bottom: 40px;
}

.checkbox-area input {
	margin: 0;
	margin-right: 10px;
}

.checkbox-area label {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	vertical-align: middle;
	color: #000000;
}

/* order-form end */

/* footer*/
.page-footer {
	padding-top: 60px;
	padding-bottom: 70px;
	background-color: #000000;
}

.footer-logo {
	float: left;
	width: 140px;
	height: 76px;
	margin-left: 37px;
}

.footer-nav {
	margin-top: 7px;
	margin-right: 107px;
}

.footer-bottom {
	margin-top: 47px;
}


.footer-menu li:nth-child(2) {
	margin-left: 15px;
}

.footer-menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

.footer-menu a:hover {
	color: #c3c3c3;
}

.footer-menu a:active {
	color: rgba(255,255,255,0.3);
}

.footer-social {
	float: left;
	width: 216px;
}
.social-btn {
	position: relative;
	float: left;
	width: 68px;
	height: 66px;
	font-size: 0;
	background-color: #1b1b1b;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid rgba(255,203,120,0.1);
	background-image: url("img/spritesheet.png");
}

.social-btn:hover {
	z-index: 1;
	border-color: rgba(255, 203, 120, 0.3);
}

.socail-btn:active {
	opacity: 0.5;
}

.btn-inst {
	background-position: 5px 5px;
}

.btn-fb {
	background-position: 10px -100px;
}

.btn-vk {
background-position: 0px -45px;	
}

.footer-tip {
	float: left;
	width: 200px;
	margin-top: 12px;
	margin-left: 91px;
	font-size: 14px;
	line-height: 20px;
	color: #989898;
	text-transform: none;
}

.footer-tip p {
	margin: 0;
}

.footer-copyright {
	float: left;
	width: 300px;
	text-transform: none;
	font-weight: normal;
	margin-left: 200px;
}

.footer-copyright a {
	color: #989898;
	text-decoration: none;
}

.footer-logo2 {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 66px;
	vertical-align: top;
	background-color: #1b1b1b;
	border: 1px solid rgba(255, 203, 120, 0.1);
}

.footer-logo2:hover {
	border-color: rgba(255, 203, 120, 0.3);
}

.footer-logo2:active {
	opacity: 0.5;
}

.logo-academy img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.footer-copyright span  {
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	color: #989898;
}

.copyright-text {
	margin-top: 25px;
	margin-left: 25px;
}