/*header start */
body {
	min-width: 1040px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	color: #404040;
	font-style: normal;
	background-color: #ffffff;
	
}

.container {
	width: 800px;
	margin: 0 auto;
}

.container-wide {
	width: 1015px;
	margin:0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.page-header {
	height: 490px;
	padding-top: 60px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/back-image.png") no-repeat bottom;
	background-size:  cover;
	background-color: #7a5118;
}

.page-header,
.page-footer {
	color: #ffffff;
	background-color: #000000;
}

.header-top {
	margin-bottom: 120px;
}

.header-logo {
	float: left;
	width: 140px;
	height: 76px;
}

.header-logo img {
	width: 140px;
	height: 76px;
}

.main-nav {
	float: right;
	width: 600px;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	list-style: none;
}

.main-nav li {
	position: relative;
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;
}

.main-nav li:last-child {
	margin-right: 0;
}

.main-nav a {
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 13px;
	font-weight: bold;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav a:hover {
	color: #f1bb6a;
	border-bottom: 1px solid #ffffff;
}

.main-nav a:active {
	color: #c88a31;
	padding-bottom: 25px;
	border-bottom: 1px solid #ffffff;
}

.btn {
	display: inline-block;
	padding: 8px 20px;
	font: inherit;
	font-weight: bold;
	line-height: inherit;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-ghost {
	color: #834700;
	background: #ffffff;
}

.btn-ghost:hover {
	color: #6a3900;
}

.btn-ghost:active {
	color: #d2c3b2;
}

.btn-brown {
	color: #ffffff;
	background: #834700;
}

.order-info .btn-brown {
	width: 200px;
}

.btn-brown:hover {
	color: #ffffff;
	background: #000000;
	border: 1px solid #834700;
}

.btn-brown:active {
	color: rgba(255,255,255, 0.3);
}

.btn-read-more {
	border: 2px solid #a4a097;
	color: #bdb7ab;
}

.header-promo {
	font-weight: bold;
	font-size: 70px;
	line-height: 70px;
	text-align: center;
	color: #ffffff;
}
/* header end */

/* new product */
.new-products {
padding-top: 80px;
padding-bottom: 110px;
background-color: #ffffff;
}


.catalog-item {
	float: left;
	position: relative;
	width: 334px;
	padding-right: 30px;
	padding-left: 34px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.catalog-item:nth-child(2n) {
	border-left: none;
}

.new-products .section-title {
	position: relative;
	margin: 0;
	font-size: 40px;
	line-height: 60px;
	color: #000000;
	text-transform: uppercase;
}

.catalog-item img {
	width: 319px;
	height: 459px;
	margin-top: 30px;
	margin-left: 10px;
}

.new-items-info {
	position: absolute;
	top: 85px;
	right: 0;
	width: 150px;
	padding-right: 25px;
}

.new-product-value {
	width: 150px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #000000;
	border-collapse: collapse;
}

.new-product-value  td {
	padding: 5px 10px;
	border: 1px solid #e5e5e5;

}

.new-product-info {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
	text-transform: none;
}

.new-product-description {
	width: 330px;
	margin-top: 0;
	margin-bottom: 60px;
	text-transform: none;
}

.new-product-controls {
	font-size: 0;
}

.new-product-controls a {
	font-size: 16px;
}

.new-product-controls .btn-ghost {
	margin-right: 7px;
}

.new-product-price {
	display: inline-block;
	margin-left: 25px;
	font-size: 16px;
	vertical-align: middle;
	color: #000000;
}

/* new product end */

/* features start*/
.features {
	padding-top: 80px;
	padding-bottom: 90px;
	background-color: #ffcb78;
}
.features ul {
	padding: 0;
	margin: 0; 
	list-style: none;
}


.feature-item {
	float: left;
	position: relative;
	width: 210px;
	padding-right: 95px;
	padding-left: 95px;
	text-transform: none;
	font-weight: normal;
	border-right: 1px solid #e5b66c;
}

.feature-item:first-child {
	padding-left: 0;
}

.feature-item:last-child {
	padding-right: 0;
	border-right-color: transparent;
}

.feature-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 100px;
	width: 70px;
	height: 72px;
	background: url("img/spritesheet.png") top center no-repeat;
}

.feature-item:first-child::before {
	left: 0;
}

.feature-handmade::before {
	background-position: -20px -255px;
}

.feature-homemade::before {
	background-position: -20px -460px;
}

.feature-noteconomy::before {
	background-position: -20px -362px;
}

.feature-item p {
	color: #666666;
}

.feature-title {
	margin-top: 100px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #000000;
	text-transform: uppercase;
}

.feature-text {
	margin: 0;
}
/* features end*/

/* history block start */
.kvas-reference {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #ffffff;
}

.kvas-reference .ref-title {
	margin: 0;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;
	color: #000000;
}

.reference-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reference-title {
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}


.reference-source {
	float: right;
	width: 196px;
	font-size: 16px;
	font-weight: normal;
	color: #000000; 
	text-transform: none;
}

.reference-source a {
	color:  #a38b70;
}

.reference-source a:hover {
	color: #8d745a;
}

.reference-source a:active {
	color: rgba(141, 116, 90, 0.3);
}

.kvas-history {
	margin-left: 0;
	text-transform: none;
}

.kvas-history img {
	float: right;
	width: 200px;
	margin-top: 10px;
}

.kvas-history p {
	float: left;
	width: 490px;
	margin: 0;
}

/* history block end */

/* reviews start */
.reviews {
	padding-top: 80px;
	padding-bottom: 95px;
	background-color: #ede5d8;
}

.review-item {
	position: relative;
	margin: 0;
}

.review-item::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -105px;
	width: 41px;
	height: 31px;
	background: url("img/spritesheet.png") top center no-repeat;
	background-position: -20px -568px;
}

.review-item p {
	width: 690px;
	margin: 0;
	margin-bottom: 35px;
	text-transform: none;
}


.review-author {
	float: right;
	width: 330px;
	margin-top: 10px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
 }
 
 .block-title {
	 margin: 0;
	 margin-bottom: 75px;
	 
	 font-weight: bold;
	 font-size: 40px;
	 line-height: 60px;
	 color: #000000;
	 text-transform: uppercase;
 }
 
/* reviews end */

/* table start */
.products-and-price {
	padding-top: 90px;
	padding-bottom: 90px;
}


.price-list {
	width: 100%;
	border-collapse: collapse;
}

.price-list td {
padding: 17px 0;
}

.price-list th {
	padding-bottom: 30px;
	font-weight: normal;
	font-size: 11px;
	text-align: left;
	color: #999999;
	
}

.price-list th, 
.price-list td {
	border-bottom: 1px solid #e5e5e5;
}


.price-name {
	width: 400px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.price-alcohol {
	width: 90px;
}

.price-caloricity {
	width: 60px;
}

.price-name .new {
	margin-left: 20px;
	padding: 2px 5px;
	font-size: 8px;
	line-height: 30px;
	color: #ffffff;
	background-color: #000000;
	border-radius: 2px;
}

.price-list .price-cost {
	text-align: right;
}
/* table end */

/* order-form start */
.order-info {
	padding-top: 70px;
	padding-bottom: 90px;
	background-color: #ffcb78;
	color: #666666;
}

.order-form-group {
	padding: 10px 0;
}

.order-tip {
	text-transform: none;
	font-weight: normal;
}

.order-form {
	width: 630px;
}

.order-form-group label {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	}
	
.order-form-group input[type="text"],
.order-form-group select,
.order-form-group textarea {
	font: inherit;
	color: inherit;
	border: 1px solid transparent;
	background-color: #ededed;
	}
	
.order-form-group input[type="text"]:hover,
.order-form-group select:hover,
.order-form-group textarea:hover {
	border-color: #bebebe;
	}

.order-form-group input[type="text"]:focus,
.order-form-group select:focus,
.order-form-group textarea:focus {
	border: none;
	background-color: #ffffff;
	}




/* order-form end */

/* footer*/
.page-footer {
	padding-top: 45px;
	padding-bottom: 50px;
	font-family: Arial, sans-serif;
	background-color: #000000;
	color: #808080;
}

.footer-logo {
	float: left;
	width: 205px;
	height: 55px;
}

.page-footer .footer-menu li{
	font-weight: bold;
	list-style: none;
}

.footer-top{
	margin-bottom: 45px;
	
}

.footer-bottom {
	padding-bottom: 50px;
	
}

.footer-menu li {
	float: left;
	margin-left: 45px;
	width: 150px;
}

.footer-menu li:nth-child(2) {
	margin-left: 15px;
}

.footer-menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

.footer-menu a:hover {
	color: #c3c3c3;
}

.footer-menu a:active {
	color: rgba(255,255,255,0.3);
}

.footer-social {
	float: left;
	width: 250px;
	font-size: 0;
}
.social-btn {
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	border: 1px solid rgba(61,55,48,0.1);
	background-image: url("img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #71737a;
}

.social-btn:hover {
	border: 1px solid #9c8e79;
}

.socail-btn:active {
	background-color: rgba(44,45,47, 0.5);
}

.btn-inst {
	background-position: 5px 0;
}

.btn-fb {
	background-position: 5px -105px;
}

.btn-vk {
background-position: 0px -50px;	
}

.footer-alert {
	float: left;
	width: 250px;
	text-transform: none;
	font-weight: normal;
}

.footer-copyright {
	position: relative;
	float: right;
	width: 300px;
	text-transform: none;
}

.footer-copyright .footer-logo2{
	font-weight: normal;
}


.btn-html {
	background-position: -4px -165px;
}

.footer-copyright a {
text-decoration: none;
color: #808080;
}

.footer-copyright a:hover {
text-decoration: underline;
color: #ffffff;
}

.footer-copyright a:active {
color: rgba(255,255,255,0.3);
}
