/*header start */

body {
	min-width: 1040px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	background-color: #ffffff;
	
}


.container {
	width: 1020px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.page-header {
	min-height: 490px;
	padding-top: 35px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/back-image.png") no-repeat center;
	background-size:  cover;
}


.page-header,
.page-footer {
	color: #ffffff;
	background-color: #000000;
}


.header-top {
	margin-bottom: 125px;
}

.header-logo {
	float: left;
	width: 140px;
	height: 76px;
}

.header-logo img {
	width: 140;
	height: 76;
}

.main-nav {
	float: left;
	margin: 0;
	margin-left: 125px;
	padding: 20px 0;
	width: 605px;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	list-style: none;
}

.main-nav li {
	float: left;
	margin-right: 55px;
}

.main-nav li:last-child {
	margin-right: 0;
}

.main-nav a {
color: #ffffff;
text-decoration: none;
}

.main-nav a:hover {
	color: #f1bb6a;
	border-bottom-color: #ffffff;
}

.main-nav a:active {
	color: #c88a31;
}

.btn {
	text-decoration: none;
	text-transform: uppercase;
	color: #a47844;
}

.btn:hover {
	text-decoration: underline;
	color: #744611;
}

.btn:active {
	color: #d8cbbc;
}

.header-promo {
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	font-family: "Arial", sans-serif;
	text-align: center;
}

.section-title {
text-transform: uppercase;
font-family: "Arial", sans-serif;
font-weight: bold;	
color: #000000;
}
/* header end */

/* new product */
.new-products {
	padding-top: 70px;
	padding-bottom: 90px;
}

.catalog-item p {
	font-size: 14px;
	font-family: "Arial", sans-serif;
	font-weight: bold;
	color: #666666;
}

.new-product-value {
	width: 140px;
	border-collapse: collapse;
}

.new-items {
	padding-bottom: 50px;
}

.new-items td {
	padding: 5px 10px;
	text-align: left;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #bbbbbb;
	color: #000000;
	font-weight: bold;
}

.catalog-item {
	float: left;
	margin-right: 48px;
	width: 308px;
}

.catalog-item:last-child {
	float: right;
}

.catalog-item img {
	width: 100%;
	height: auto;
}

/* new product end */

/* features start*/
.features {
	padding-top: 50px;
	padding-bottom: 55px;
	text-align: left;
	background-color: #eaeaea;
}
.features ul {
	padding: 0;
	margin: 0; 
	list-style: none;
}


.feature-item {
	float: left;
	width: 279px;
	padding-top: 90px;
	padding-right: 30px;
	padding-left: 30px;
	font-size:  16px;
	line-height: 24px;
	text-align: left;
	border-right: 1px solid #d9d9d9;
}

.feature-item:last-child {
	border-right-color: transparent;
}

.feature-item p {
	color: #666666;
}
/* features end*/

/* history block start */
.kvas-reference {
	padding-top: 70px;
	padding-bottom: 90px;
	color: #666666;
}
.kvas-reference img {
	border-radius: 5px;
}

.kvas-reference dl {
	width: 830px;
	
}

.kvas-reference dt {
	margin: 0;
	margin-bottom: 10px;
}

.theory-container:first-child {
	margin-bottom: 70px;
}

.reference-title {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.reference-source {
	font-size: 12px;
	font-family: "Arial", sans-serif;
	line-height: 10px;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	color: #666666;
	
}

.reference-source a {
	color:  #a38b70;
}

.reference-source a:hover {
	color: #8d745a;
}

.reference-source a:active {
	color: rgba(141, 116, 90, 0.3);
}
/* history block end */

/* reviews start */
.reviews {
	padding-top: 70px;
	padding-bottom: 90px;
	background-color: rgb(238,224,224,0.5)
}

.review-item {
	width: 630px;
	text-align: left;
	margin: 0;
	padding: 0;
	padding-right: 50px;
	margin-right: 80px;
	font-size: 16px;
	line-height: 24px;
	font-style: "Arial", sans-serif;
}
.review-author {
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
 }
/* reviews end */

/* table start */

.price-list {
	width: 100%;
	border-collapse: collapse;
	line-height: 30px;
}

.price-list td {
border-top: 1px solid #bbbbbb;
border-bottom: 1px solid #bbbbbb;
}


.price-list th, 
.price-list td {
	text-align: left;
	padding: 20px 15px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #7d7e81;
	text-transform: uppercase;
	
}

.price-list th {
	padding-top: 0;
	padding-bottom: 40px;
	font-size: 12px;
	color: #9c9f9d;
	
}

.price-list .price-name {
	padding-left: 0;
	text-align: top;
	color: #000000;
}

.price-list th:first-child {
	padding-left: 0;
}

.price-list .price,
.price-list th:last-child {
	padding-right: 0;
	text-align: right;
}

.price-name .new {
	padding: 2px 4px;
	vertical-align: sup;
	text-align: top;
	font-size: 10px;
	color: #ffffff;
	background-color: #000000;
}

/* table end */

/* order-form start */
.order-info {
	padding-top: 70px;
	padding-bottom: 90px;
	font-family: "Arial", sans-serif;
	background-color: #ffd180;
	color: #666666;
}

.order-form-group {
	padding: 10px 0;
}

.order-form {
	width: 630px;
}

.order-form-group label {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	}
	
.order-form-group input[type="text"],
.order-form-group select,
.order-form-group textarea {
		font: inherit;
		color: inherit;
		border: 1px solid #ffd180;
		background-color: #f2ce8d;
	}
	
.order-form-group input[type="text"]:hover,
.order-form-group select:hover,
.order-form-group textarea:hover {
		border-color: #bebebe;
	}

.order-form-group input[type="text"]:focus,
.order-form-group select:focus,
.order-form-group textarea:focus {
		border-color: #8d745a;
	}




/* order-form end */

/* footer*/
.page-footer {
	padding-top: 45px;
	padding-bottom: 50px;
	font-family: Arial, sans-serif;
	background-color: #000000;
	color: #808080;
}

.footer-logo {
float: left;
width: 205px;
height: 55px;
}

.page-footer .footer-menu li{
	font-weight: bold;
	list-style: none;
}

.footer-top{
	margin-bottom: 45px;
	
}

.footer-bottom {
	padding-bottom: 50px;
	
}

.footer-menu li {
	float: left;
	margin-left: 45px;
	width: 150px;
}

.footer-menu li:nth-child(2) {
	margin-left: 15px;
}

.footer-menu a {
		text-decoration: none;
	    text-transform: uppercase;
		color: #ffffff;
}

.footer-menu a:hover {
	color: #c3c3c3;
}

.footer-menu a:active {
	color: rgba(255,255,255,0.3);
}

.footer-social {
	float: left;
	width: 250px;
}
.social-btn {
	color: #ffffff;
}

.footer-alert {
	float: left;
	width: 250px;
}

.footer-copyright {
	float: right;
	width: 300px;
}

.footer-copyright a {
text-decoration: none;
color: #808080;
}

.footer-copyright a:hover {
text-decoration: underline;
color: #ffffff;
}

.footer-copyright a:active {
color: rgba(255,255,255,0.3);
}
